.boardDropDown {
    scrollbar-width: none;
    height: calc(100vh - 352px);
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
    margin-top: 32px;
}

.task.dragging {
    opacity: 0.5;
    border: 2px dashed #000;
    transform: rotate(-10deg);
}

.task {
    transition: transform 0.3s ease;
}

.boardColumn.dragover {
    background-color: #f0f8ff;
    border: 2px dashed #007bff;
}

#tasksContainerToDo,
#tasksContainerInProgress,
#tasksContainerAwaitFeedback,
#tasksContainerDone {
    background-color: rgb(246, 247, 248);
}

.noTasksParent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 48px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    background: #E7E7E7;
    border: 1px solid #A8A8A8;
    box-shadow: 0px 0px 4px 0px #00000029;
}

.noTasksChild {
    width: 150px;
    height: 19px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #A8A8A8;
}