* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: Inter, serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.d-none {
    display: none !important;
}