@media(max-width:1260px) {
    .flex_content_summary {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .flex_content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        margin-left: 0;
    }

    .greetings_message_box {
        margin-left: 32px;
    }

    .greeting_message {
        font-size: 26px;
    }

    .greeting_message_name {
        font-size: 36px;
    }

    .join_360 {
        font-size: 38px;
    }

    .heading_info {
        font-size: 18px;
    }

    .summary_overview {
        width: 418px;
    }

    .content_heading {
        height: 45px;
        width: 418px;
    }

    .heading_img {
        height: 38px;
    }

    .summary_first_line_box {
        width: 418px;
    }

    .inner_first_line_box {
        width: 186px;
        height: 126px;
    }

    .ellipse_box {
        height: 46px;
        width: 46px;
    }

    .summary_number {
        font-size: 38px;
    }

    .to_do_infos p {
        font-size: 16px;
    }

    .urgent_box {
        width: 418px;
        height: 126px;
        gap: 50px;
    }

    .urgent_first_box img {
        height: 46px;
    }

    .date_line {
        font-size: 16px;
    }

    .deadline_text {
        font-size: 12px;
    }

    .summary_overview_board {
        width: 418px;
        height: 126px;
    }

    .summary_overview_board_box {
        height: 126px;
        width: 126px;
    }

    .summary_overview_board_num {
        font-size: 38px;
    }

    .summary_overview_board_box p {
        font-size: 16px;
    }
}

@media(min-width:901px) {
    .overlay_greeting {
        display: none !important;
    }
}

@media(max-width:900px) {
    .greetings_message_box {
        display: none;
    }

    .flex_content_summary {
        height: calc(100vh - 160px);
        margin-top: 80px;
    }

    .overlay_message_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .overlay_message_container {
        flex-direction: column;
        display: flex;
        height: 100%;
        text-align: center;
    }
}

@media(max-width:570px) {
    .content_heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .heading_img {
        display: none;
    }

    .blue_line {
        display: flex;
        border: 1.5px solid #28ABE1;
        width: 68px;
        margin-top: 8px;
        border-radius: 4px;
    }

    .join_360 {
        font-size: 32px;
    }

    .heading_info {
        font-size: 15px;
    }
}

@media(max-width:465px) {
    .content {
        width: 100%;
        height: calc(100vh - 160px);
    }

    .content_heading {
        width: 80%;
    }

    .summary_overview {
        margin-top: 38px;
        width: 100%;
        height: unset;
    }

    .inner_first_line_box {
        width: 130px;
        height: 90px;
        border-radius: 20px;
        margin: auto;
    }

    .to_do_infos p {
        font-size: 11px;
    }

    .ellipse_box {
        height: 45px;
        width: 45px;
        padding: 10px;
    }

    .inner_first_line_img {
        width: 24px;
        height: 24px;
    }

    .urgent_box {
        padding: 14px 24px;
        width: 90%;
        margin: auto;
        height: 110px;
        gap: 40px;
        border-radius: 20px;
    }

    .summary_first_line_box {
        width: 100%;
        height: 158px;
    }

    .summary_to_board_button {
        width: 100%;
    }

    .urgent_first_box img {
        height: 36px;
    }

    .summary_number {
        font-size: 30px;
        width: 40px;
    }

    .urgent_text {
        font-size: 14px;
    }

    .urgent_vertical_line {
        height: 79px;
    }

    .summary_overview_board {
        width: 100%;
        margin: auto;
        margin-top: 8px;
    }

    .summary_overview_board_box {
        height: 90px;
        width: 90px;
        gap: 6px;
        border-radius: 20px;
        margin: auto;
    }

    .summary_overview_board_num {
        font-size: 30px;
    }

    .summary_overview_board_box p {
        font-size: 12px;
    }
}